.container{
  min-height: 700px;
}

.qualityContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quality{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  padding: 30px;
  width: 33%;
}

.qualityDescription{
  max-width: 80%;
}

@media (max-width: 1024px) {
  .qualityContainer{
    flex-direction: column;
  }
  .quality {
    width: 100%;
  }
}